*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
footer{
    background-color: rgb(94, 89, 89);
    color: white;
}
.textos{
    text-align: center;
    font-size: 2rem;
}
.redes{
    display: flex;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.ul{
    display: flex;
}
.ul .li{
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}
.ul .li:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
   /* background: #d35400;*/
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}
.ul .li:nth-child(1):before{
    background: #4267B2;

}

.ul .li:nth-child(2):before{
    background: #E1306C;

}

.ul .li:nth-child(3):before{
    background: #07eb4b;

}
.ul .li:hover:before{
    filter: blur(3px);
    transform: scale(1.2);
   /* box-shadow: 0 0 15px #d35400; */
}
.ul .li:nth-child(1):hover:before{
    box-shadow: 0 0 15px #4267B2;
}

.ul .li:nth-child(2):hover:before{
    box-shadow: 0 0 15px #e70cc3;
}

ul li:nth-child(3):hover:before{
    box-shadow: 0 0 15px #07eb4b;
}
.ul .li:nth-child(1):hover{
    color: #456cba;
    box-shadow: 0 0 15px #4267B2;
    text-shadow: 0 0 15px #4267B2;
}
.ul .li:nth-child(2):hover{
    color: white;
    box-shadow: 0 0 15px #E1306C;
    text-shadow: 0 0 15px #e70cc3;
}
.ul .li:nth-child(3):hover{
    color: #07eb4b;
    box-shadow: 0 0 15px #07eb4b;
    text-shadow: 0 0 15px #07eb4b;
}