*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
#Economia{
  background-color: antiquewhite;
  height: 100vh;
  width: 100vw;
}

.parent-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin: 40px;
  height: 96%;
  width: 90%;
  }
  
  .div-2 { grid-area: 1 / 1 / 2 / 2; }
  .div-4 { grid-area: 1 / 2 / 2 / 3; }

  .div-2{
    text-align: center;
   height: 100%;

  }
  .alin-txt1{
    font-size: 38px;
    color:gray;
  }
  .TxtPrinc{
    margin: 50px;

  }
  .alin-txt{
    text-align: left;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
  .div-4{
    text-align: center; 
   }

   
#video-1a{
  align-items: center;
  margin: 60px;
  padding: 44px;
  margin-top: 25%;
}
/* Botao abaixo trata-se sobre o ler mais */


#mais {
    display: none;
    text-align: left;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
  }
  #btnLeiaMais{
    border: 0px transparent;
    font-size: 1.5rem;
    margin: 40px;
    color: gray;
    &:hover{
      transition: .7s;
      color: black;
    }
  }
 /*---------------------------CODIGO ABAIXO TRATA-SE SOBRE A TELA DO VIDEO---------------------------*/
   #txt-sc-2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
   }
   #Mercado{
    margin: 50px;
   }
   #txt-sub01{
    text-align: center;
    margin: 15px;
    font-size: 2em;
   }
   .video-2{
    height: 900px;
    width: 900px;
    align-items: center;
    padding: 0%;
    margin-right: 25%;
   }